*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;

}
body{
    color: black;
    background-color: rgb(236, 236, 218);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: #4f8cd2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}
.logo{
    position: relative;
    font-size: 25px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    margin: 10px;
}
.navbar a{
    display: inline-block;
    font-size: 25px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 50;
    transition: slideTop .3s ease forwards;
    justify-content: space-between;
    letter-spacing: 1px;
    font-weight: 600;
}
.navbar a:hover{
    color: rgb(241, 241, 241);
}
.home{
    position: relative;
    width: 100%;
    justify-content:space-between;
    height: 100vh;
    background: url("https://png.pngtree.com/png-vector/20231018/ourmid/pngtree-business-portfolio-3d-character-illustration-png-image_10204176.png" )  no-repeat;
    margin-bottom: 30%;
    background-size: 30%;
    background-position: right;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
h1{
    color: brown;
}
.home-content{
    max-width: 600px;

}
.home-content h3{
font-size: 32px;
font-weight: 700;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
}
.home-content h3 span{
    color: #4f8cd2;

}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 0ms;

}
.home-content p{
    font-size: 20px;
    
}
.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size:20px
    text-decoration: none;
    margin: 20px 10px 20px ;
}
.home-sci a:hover {
    background: #0ef;
    color: #081b08;
    box-shadow: 0 0 20px #0ef;

}
.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b08;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}
.btn-box:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan
}
.About{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;
}
.About-img img{
    padding-bottom: 0%;
    max-width: 630px;
    height: auto;
   width: 65%;
    border-radius: 90px;
    transition: background 0.5s, transform 0.5s;
    box-shadow:1px 1px 90px rgb(245, 6, 177);
    

}
.About-text h2{
    font-size: 60px;
    width: 40px; 
    font-family: Arial, Helvetica, sans-serif;

}
.About-text h2 span{
    color: rgb(255, 4, 0);
}
.About-text h4{
    font-size: 29px;
    font-weight: 600;
    color: #220079;
    line-height: 1.7;
    margin: 15px 0 30px;

}
.About-text p{
    color: black;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
#Skills{
    color: black;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
.sub-tittle{
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
    color: black;
}
.sub-tittle span{
    color: rgb(231, 19, 19);
}
.skills-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap:40px;
    margin-top:50px;
}
            
.container{
    padding: 90px;

}
.skills-list div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px ;
    border-radius:20px ;
    transition: background 0.5s, transform 0.5s;
    box-shadow:1px 1px 20px #0ef;
   

}
.skills-list div i{
    font-size: 50px;
    margin-bottom: 30px;

}
.skills-list div h2{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;

}
.skills-list div a{
    text-decoration: none;
    color: brown;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.skills-list div:hover{
    transform: translateY(-30px);
}
.main-text{
    padding-top: 130px;
    margin-top: 200;
    margin-bottom: 10px;
}
.main-text h2{
    font-size: 60px;
    line-height: 1;
    text-align: center;
    margin-bottom: 50px;
}
.main-text h2 span{
    color: rgb(255, 30, 30);

}
.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(359px,auto));
}
.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}
.row img{
    width: 80%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
    height:auto ;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1),rgb(237, 7, 7));
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;



}
.layer h5{
    color: red;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 15px;
}
.layer p{
    color: #ecf5ef;
    font-size: 1.5rem;
    line-height: 1.8;
    font-weight: 900;
}
.layer i{
    color: darkblue;
    margin-top: 20px;
    font-size: 20px;
    background: #fff;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}
.row:hover img{
    transform: scale(1.1);
    
}
.row:hover .layer{
    height: 100%;
    
}
.contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
}
.contact-text h2{
    font-size: 90px;
    line-height: 1;
    text-align: center;
    justify-content: center;

}
.contact-text h2 span{
    color: crimson;

}
.contact-text h4{
    margin: 15px;
    color:darkorchid;
    font-size: 20px;
    font-weight: 600;
}
.contact-list{
    margin-bottom: 3rem;

}
.contact-list li{
    margin-bottom: 10px;
    display: block;
}
.contact-list i{
    display: inline-block;
    color: rgb(17, 22, 22);
    font-size: 15px;
    font-weight: 600;
    transition: all .40s ease;
}
.contact-list li a:hover{
    transform: scale(1.01) translateY(-5px);
    color: rgb(34, 234, 234);
}
.contact-icons i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    margin-bottom: 10px;
}
.contact-icons i:hover{
    background: #0ef;
    color: rgb(29, 38, 39);
    box-shadow: 0 0 20px #0ef;
}


.contact-form{
    position: relative;

}
.contact-form form input,form textarea{
    border: none;
    outline: none;
    width: 90%;
    padding: 10px;
    background: #555557;
    color: #081b08;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    justify-content: center;
    text-align: center;
    align-items: center;

    
}
.contact-form textarea{
    resize: none;
    height: 220px;

}

.contact-form form .send{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #000000;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 5px #0ef;

}
.contact-form .send:hover{
    background: #0ef;
    color: rgb(29, 38, 39);
    box-shadow: 0 0 20px rgb(332, 308, 100);
}





@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
 }
}
